.divMaiorFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    flex-direction: row;
}

.divMaiorFooter > div{
    width: 100%;
    
}
.redesSociais{
    width: 400px;
}
.redesSociais p {
    text-align: justify;
    padding: 10px;
}

.txtRedes {
    display: flex;
    align-items: start;
}

.txtRedes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.txtRedes a:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
    color: rgb(216, 213, 213);
  }
  
.txtRedes a div {
    margin-right: 10px;

}

.txtRedes img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.txtRedes p {
    margin: 0;
}
.txtRedes ul{
    list-style: none;
}
.logoFooter img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.endereco{
    width: 400px;
    margin-left: 20px;
}

.endereco p{
    text-align: justify;
}
.endereco ul{
    list-style: none;

}
.endereco ul li{
    text-align: justify;
}

@media (max-width: 768px) {
    .divMaiorFooter {
        justify-content: center;
        flex-direction: column;
    }
    
    .txtRedes{
        justify-content: center;
    }
}

