.divMaiorFooter {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1000px;
    color: white;
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

.redesSociais {
    width: 450px;
    margin-right: 30px;
}

.redesSociais p {
    text-align: justify;
}

.txtRedes {
    display: flex;
    align-items: start;
}

.txtRedes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.txtRedes a:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
    color: rgb(216, 213, 213);
  }
  
.txtRedes a div {
    margin-right: 10px;

}

.txtRedes img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.txtRedes p {
    margin: 0;
}
.txtRedes ul{
    list-style: none;
}
.logoFooter img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.endereco {
    width: 300px;
    margin-left: 30px;
}
.endereco p{
    text-align: justify;
}

