.header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  transition: transform 0.4s ease-in-out;
  display: flex;
  justify-content: center;
}

.header1 ul {
  width: 100%;
  /* max-width: 1300px; */
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Quicksand";
  font-weight: bold;
  list-style: none;
  text-shadow: 2px 2px 4px black;
  height: 70px;
  margin: 0;
  padding: 0;
}

.header-hidden {
  transform: translateY(-250%);
}

.header-placeholder {
  height: 70px;
}

.header1 a {
  text-decoration: none;
  color: white;
}

.header1 a:hover {
  transition: transform 0.6s ease-in-out;
  color: rgb(216, 213, 213);
}

.header1 li {
  padding: 8px 35px;
  margin: auto;
}

.header1 img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

html {
  scroll-behavior: smooth;
}

/* Media query para ajustar o menu em telas menores */
@media (max-width: 768px) {
  .header1 ul {
    width: 100vw;
    /* max-width: 414px; */
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    list-style: none;
    text-shadow: 2px 2px 4px black;
    height: 70px;
    margin: 0;
    padding: 0;
    font-size: 9px;
  }

  .header1 li {
    padding: 8px 3px;
    margin: auto;
    justify-content: space-between;
  }

  .header1 img {
    visibility: hidden;
    position: absolute;
  }

  /* .header1 ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header1 li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .hamburger {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger:before,
  .hamburger:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger:before {
    top: -8px;
  }

  .hamburger:after {
    bottom: -8px;
  }

  .menu.open .hamburger {
    transform: rotate(45deg);
  }

  .menu.open .hamburger:before {
    transform: rotate(45deg);
    top: 0;
  }

  .menu.open .hamburger:after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .menu {
    display: none;
    width: 100%;
    padding: 10px 0;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
  }

  .menu.open li {
    width: 100%;
    text-align: center;
  } */
}
