/* .header1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header1 ul{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    list-style: none;
    text-shadow: 2px 2px 4px black;
    height: 70px;
} */

.header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
  }
  
  .header1 ul {
    width: 1300px;
    display: flex;
    flex-direction: row;
    
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    list-style: none;
    text-shadow: 2px 2px 4px black;
    height: 70px;
    margin: 0;
  }
  .header-hidden {
    transform: translateY(-250%);
  }
  
  /* Adicione a classe .header-placeholder */
  .header-placeholder {
    height: 70px; /* Defina a mesma altura do header */
  }

.header1 a{
    text-decoration: none;
    color: white;
}
.header1 a:hover{
    transition: transform 0.6s ease-in-out;
    color: rgb(216, 213, 213);
}

.header1 li{
    padding: 8px 35px;
    margin: auto;
}

.header1 img{
    border-radius: 50%; 
    width: 140px;
    height: 140px;
}


html{
    scroll-behavior: smooth;
}
