.botaocall {
    background-color: #CC2500;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    width: 280px;
    height: 65px;
    text-shadow: 2px 2px 2px #432101;
    border: 0px;
    margin-top: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;

}

.botaocall:hover {
    color: gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.section1 {
    background-image: url("../images/background1.png");
    width: 100%;
    height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container1 {
    color: white;
    text-shadow: 8px 5px 2px black;
    font-weight: lighter;
}

.container1 h1 {
    font-size: 65px;
}

.container1 p {
    font-size: 22px;
    font-weight: 600;
    text-shadow: 6px 6px 6px black;
}

.section1 hr {
    color: #ffffff00;
}