.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    color: white;
    font-family: "Quicksand";
    font-weight: 600;
    position: relative;
    z-index: -1;
}

.panelaDecoracao {
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 0;
    width: 150px;
    height: auto;
}

.panelaDecoracao img {
    width: 150px;
    height: auto;
}

.divMaior2 {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloSub2 {
    color: white;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 20px;
}

.tituloSub2 h1 {
    font-size: 60px;
}

.tituloSub2 p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 6px 6px 6px black;
    margin: 0;
}

.ingredientes img {
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 5px;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.2));
}

.ingredientes li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.ingredientes ul {
    list-style-type: none;
    padding: 0;
}

.ingredientes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredienteTxt {
    display: flex;
    align-items: center;
}

.ingredienteTxt p {
    margin: 0;
    margin-bottom: 5px;
    text-shadow: 2px 2px 3px black;
}

.divMaior2 .video2 {

    padding: 10px;
    margin-top: 30px;
}

.video2 iframe {
    border: 3px solid black;
}