.section2 {
    display: flex;
    justify-content: center;
    height: 700px;
}
.divMaior2{
    width: 1000px;

}

.tituloSub2 {
    color: white;
    text-shadow: 3px 3px 4px black;
}

.tituloSub2 h1 {
    font-size: 60px;
}

.tituloSub2 p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 6px 6px 6px black;
}