.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.divMaior3{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.container3{
    color: #F96131;
    text-shadow: 3px 3px 4px black;
    font-weight: lighter;
}

.container3 h1{
    font-size: 60px;
}
.container3 p{
    font-size: 22px;
    font-weight: 600;
    text-shadow: 2px 2px 3px black;
}

.container3_2 .txt3 p{
    text-align: justify;
    font-family: "Quicksand";
    font-weight: 600;
    color: #F96131;
}

.imagem3 img{
    width: 350px;
    border: 2px solid #F96131;
    border-radius: 5px;
}

.container3_2{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.container3_2 .txt3{
    width: 500px;
    padding: 30px;
    font-size: 16px;

}

.container3_2 .txt3 p:nth-child(1),
.container3_2 .txt3 p:nth-child(3),
.container3_2 .txt3 p:nth-child(4){
    text-align: center;
    font-family: "Quicksand";
    color: #F96131;
}
.container3_2 .txt3 p:nth-child(1){
    font-weight: bolder;
    font-size: 18px;
}
.container3_2 .imagem3{
    padding: 30px;
    
}