.section4 {
    display: flex;
    justify-content: center;
    height: 700px;
}

.divMaior4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    padding: 50px;
}

.container4 {
    color: white;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 30px;
}

.container4 h1 {
    font-size: 60px;
}

.container4 p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 6px 6px 6px black;
}

.container4_2 {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.container4_2 .video {
    position: relative;
    padding: 10px;
    margin-top: 30px;
}

.container4_2 .video::before {
    content: "";
    position: absolute;
    top: -42px;
    left: -42px;
    width: 80px;
    height: 80px;
    background-image: url('../images/chapeu.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
}

.video iframe {
    border-radius: 8px;
    border: 5px solid #000;
}

.container4_2 .text4 {
    padding: 14px;
    width: 470px;
    margin-top: 10px;

}

.container4_2 .text4 p {
    color: white;
    font-family: "Quicksand";
    text-align: justify;
    font-weight: 500;
}

@media (max-width: 768px) {
    .section4 {
        height: 100%;
    }

    .container4_2 {
        flex-direction: column;
    }

    .container4_2 .video {
        margin-top: 0px;
    }

    iframe {
        width: 350px;
        height: 250px;
    }

    .container4_2 .text4 {
        padding: 16px;
        width: 100%;
        margin-top: 10px;

    }
    .container4_2 .video::before {
        top: -22px;
        left: -22px;
        width: 50px;
        height: 50px;
    }
}