* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header,footer{
  background-color: #403F3F;
}

section h1,p{
  text-align: center;
  padding: 10px;
}

.sectionlaranja{
  background-color: #F98F54;
}

.sectionlaranja h1{
  color: white;
}

.sectionlaranja hr {
  width: 700px;
  background-color: white;
  height: 3px;
  box-shadow: 2px 2px 3px black;
  border: 0px;
  margin: auto;
}

.sectionbege{
  background-color:#FDEDCF;
}

.sectionbege p{
  color: #F96131;
}

.sectionbege hr{
  width: 700px;
  background-color: #F96131;
  height: 3px;
  box-shadow: 2px 2px 4px black;
  border: 0px;
  margin: auto;
}

/*----------Commons----------*/

.titulosubtitulo h1{
  font-family: 'Vintages';
}

.titulosubtitulo p{
  font-family: 'Quicksand';
}

/*----------CSS Mapa:----------*/

path{
  fill:#f98f54;
  stroke: white;
}

path:hover{
  fill: #cc4e0b;
  transition-duration: 600ms;
  transition-property: fill;
}

svg{
  width: 620px;
  height: 640px;
}

/*--------------------*/

/*----------Fontes----------*/
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Vintages';
  src: url('../fonts/Vintages.ttf') format('truetype');
  font-style: normal;
}

/*-----Swipper-----*/

.swiper-button-prev{
  color: #F96131;
  text-shadow: none;
  font-weight: bold;
}

.swiper-button-next{
  color: #F96131;
  text-shadow: none;
  font-weight: bold;
}

.swiper-pagination-bullet{
  color: #F96131;
  background-color: #F96131;
}